.dialog-overlay {
    @apply fixed;
    @apply overflow-y-auto;
    @apply z-20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-30);
}

.dialog {
    @apply absolute;
    @apply rounded;
}

.dialog-content {
    @apply py-4;
    @apply overflow-y-auto;
}